/** Gus's Code*/ 


.grid-container1 {
    padding: 10px;
    width: 90%;
    margin: auto ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-container1 a{font-size: 16px;}

.grid-container2 {
    padding: 40px;
    padding-left: 150px;
    padding-bottom: 0;
    max-width:AUTO;
    height:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.grid-item1 h1, h2{
    font-size: 70px;
}

.grid-item1 h3{
    font-size: 40px;
}

.grid-item2 img{width: 80%;}

.grid-item2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item1 {
line-height: 1.7em;
display:block;
text-align: left;}




.logo2{
    width: 110px;
    margin-right: 50px;
}


header a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.cta3 button{
    color: white;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    background: blue;
    border: none;
    width: 100px;
    height: 38px;
}

.cta2 button{
    color: blue;
    border-radius: 10px;
    font-size: 18px;
    background-color: white;
    text-decoration: none;
    border-color: blue;
    width: 100px;
    height: 38px;
}
.cta4 button{
    color: white;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    background: blue;
    border: none;
    width: 180px;
    height: 50px;
}

.cta5 button{
    color: blue;
    border-radius: 10px;
    font-size: 18px;
    background-color: white;
    text-decoration: none;
    border-color: blue;
    width: 180px;
    height: 50px;
    margin-left: 10px;
}

hr {
    margin: auto;
    width: 60%;
    Margin-bottom: 35px;
}







/** Gus's Code Ends*/ 



/** Aryan's Code*/ 
.double-tap9 {
    text-align: center;
}

.first-grid9 {
    display: flex;
    justify-content: space-evenly;
    }

    .first-grid9 img {
        width: 100px;
        border: solid black 1px;
        border-radius: 15%;
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
    }

    .first-grid-text9 {
        display: flex;
        justify-content: space-evenly;
    }

    .payment9 {
        position: relative;
        bottom: 30px;
        right: 16px;
    }

    .retain9 {
        position: relative;
        bottom: 30px;
        right: 6px;
    }

    .reporting9 {
        position: relative;
        bottom: 30px;
        left: 4px;
    }

    .convert9 {
        position: relative;
        bottom: 30px;
        left: 8px;
    }
/** Aryan's Code Ends*/ 
    
    







